@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');

:root{
  --primary: #5680E9;
  --background:#fff5c352 ;
}

.html{
  height: 100%;
}
.background-div{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--background);
  position: fixed;
  width: 100%;
  height: 100vh;
}


.input-field{
    min-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    height: 48px;
    font-weight: 500;
    font-family: "JetBrains Mono",monospace;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    
}:focus{
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.input-div{
    
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.generate-button{
    display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 50%;
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.generate-button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.generate-button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.generate-button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}



.main-div{
    font-family: 'Open Sans', sans-serif;
    color:black;
    position: absolute;
    left: 6%;
    width: 80%;
    top: 0px;
    height: auto;
    display: flex;
    padding: 50px;
    margin-top: 3%;
    flex-wrap: wrap;
    flex-direction: column  ;
    background-color: #ffffff;
    border-top-left-radius: 50px;
    border-top-right-radius:50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tiny-helper-title{
    text-align: center;
    font-weight: 500;
    font-family: "JetBrains Mono",monospace;
    font-size: 14px;
}

.generated-area{
    margin-top: 60px;
    padding-bottom: 35px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    border-top: 5px solid ;
    border-bottom: 5px solid ;
    border-image: repeating-linear-gradient(to bottom right, #D1BFA5 , #D1BFA5 , #FFE9C6 , rgb(255, 122, 89)) 20;
}

.openai-div{
    display: block;
    width: 48%;
}

.openai-text-prompt-div{
    
    text-align:justify;
    box-shadow: #8b6b6179  0 3px 7px inset;
    min-width: 50%;
    max-width: 100%;
    min-height: 100px;
    max-height: fit-content;
    font-weight: 500;
    font-family: "JetBrains Mono",monospace;
    font-size: 2vh;
    text-align: left;
    border-radius: 5px;
    padding: 20px;
    transition: 1.5s;
    margin-top: 50px;
    margin-left: auto;
  margin-right: auto;
}


.wikipedia-div{
    width: 50%;
}

.wiki-text-prompt-div{
    box-shadow: #8b6b6179 0 3px 7px inset;
    min-width: 50%;
    max-width: 100%;
    min-height: 100px;
    max-height: fit-content;
    font-weight: 500;
    font-family: "JetBrains Mono",monospace;
    font-size: 2vh;
    text-align: left;
    border-radius: 5px;
    transition: 0.15s;
    padding: 20px;
    margin-top: 50px;
    margin-left: auto;
  margin-right: auto;
}

.generated-image{
    width: 256px;
    height: 256px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    border:2px solid #4b4c4db6;
    
    box-shadow:0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}

.data-title{
  font-size: 30px;
  display: flex;
  flex-direction: row;
}

.openai-text-title{
  font-family: "JetBrains Mono",monospace;
  font-weight: 500;
  letter-spacing: 1px;
  transition: 700ms ease;
  background-image: 
  url("https://media.istockphoto.com/id/1356298417/video/abstract-colorful-striped-background-animation.jpg?s=640x640&k=20&c=fiaECwMqftHmHKDVJ6a8gfaFebGPGnLSgoW69PFWoc0=");
  background-size: 110% auto;
  background-position: center;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}:hover{
  background-size: 120% auto;
}

.wiki-text-title{
  font-family: "JetBrains Mono",monospace;
  font-weight: 200;
  letter-spacing: 1px;
  transition: 700ms ease;
  background-image: 
  url("https://img.freepik.com/premium-vector/realistic-wood-texture-plank-background-fiber-texture-pattern-vector_532963-6218.jpg");
  background-size: 110% auto;
  background-position: center;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}:hover{
  background-size: 120% auto;
}


.logo-image{
  width: 52px;
  height: 50px;
  right: 0px;
  position: relative;
  top: 50px;
  margin-left: 10%;
}

@media only screen 
and (max-width : 1222px) {
/* Styles */

.main-div{
  width: auto;
  margin-right: 2%;
  margin-left: 2%;
  left:0px;
  right: 0px;
}

.background-div{
  height:100vh;
}

.openai-div{
  display: block;
  width: 100%;
}

.generated-area{

  flex-direction: column;
}

.wikipedia-div{
  width: 100%;
}

.generate-button{
  font-size: 14px;
  padding-left: 6%;
}

.data-title{
  font-size: 20px;
  
}


}