@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Raleway&display=swap');


:root{
  --primary: #5680E9;
  --background:#bde4fb70;
}

.html{
  height: 100%;
}
.background-div{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--background);
  position: fixed;
  width: 100%;
  height: 100vh;
}



.main-div{
    font-family: 'Open Sans', sans-serif;
    color:black;
    position: absolute;
    margin-left:10%;
    margin-right:10%;
    left:0px;
    right:0px;
    width: auto;
    top: 0px;
    bottom:auto;
    height: auto;
    display: flex;
    padding: 25px;
    margin-top: 2%;
    margin-bottom: 0px;
    flex-wrap: wrap;
    flex-direction: column  ;
    background-color: #ffffff;
    border-top-left-radius: 50px;
    border-top-right-radius:50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
}


.generated-area{
    margin-top: 60px;
    padding-bottom: 35px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    border-top: 2px solid ;
    border-bottom: 2px solid ;
    border-color: rgb(235, 236 ,240);
}

.openai-div{
    display: block;
    width: 48%;
}

.openai-text-prompt-div{
    
    text-align:justify;
    box-shadow: #8b6b6179  0 3px 7px inset;
    min-width: 50%;
    max-width: 100%;
    min-height: 100px;
    max-height: fit-content;
    font-weight: 500;
    font-family: "JetBrains Mono",monospace;
    font-size: 2vh;
    text-align: left;
    border-radius: 5px;
    padding: 20px;
    transition: 1.5s;
    margin-top: 50px;
    margin-left: auto;
  margin-right: auto;
}


.wikipedia-div{
    width: 50%;
}

.wiki-text-prompt-div{
    box-shadow: #8b6b6179 0 3px 7px inset;
    min-width: 50%;
    max-width: 100%;
    min-height: 100px;
    max-height: fit-content;
    font-weight: 500;
    font-family: "JetBrains Mono",monospace;
    font-size: 2vh;
    text-align: left;
    border-radius: 5px;
    transition: 0.15s;
    padding: 20px;
    margin-top: 50px;
    margin-left: auto;
  margin-right: auto;
}

.generated-image{
    width: 256px;
    height: 256px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    border:1px solid #4b4c4d33;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  
}

.data-title{
  font-size: 30px;
  display: flex;
  flex-direction: row;
  font-family:'Raleway', sans-serif;
  letter-spacing: 1px;
  
}

.openai-text-title{
  font-weight: 500;
  transition: 700ms ease;
  color:#24292e;
}

.openai-title{
  color:#16a27f;
}

.wiki-title{
  color: #d1d2d3;
}

.wiki-text-title{
  font-weight: 200;
  transition: 700ms ease;
  color:#24292e;
}


.logo-image{
  width: 52px;
  height: 50px;
  right: 0px;
  position: relative;
  top: 50px;
  margin-left: 10%;
}
@media only screen 
and (max-width : 1460px) and (min-width:1415px) {
  .openai-text-title{
    
    font-size: 59px;

  }
}
@media only screen 
and (max-width : 1222px) {
/* Styles */

.main-div{
  width: auto;
  margin-right: 2%;
  margin-left: 2%;
  left:0px;
  right: 0px;
}

.background-div{
  height:100vh;
}

.openai-div{
  display: block;
  width: 100%;
}

.openai-text-title{
  top: 10px;
  font-size: 52px;
position: relative;
}

.generated-area{

  flex-direction: column;
}

.wikipedia-div{
  width: 100%;
}

.wiki-text-title{
  font-size: 52px;
  top: 10px;
  position: relative;
}

.generate-button{
  font-size: 14px;
  padding-left: 6%;
}

.data-title{
  font-size: 20px;
  
}


}