@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Mukta:wght@600&display=swap');


.github-plug{
    color:#16a27f;
    font-family: 'Mukta', sans-serif;
    font-weight: 900;
}

.github-logo{
    width: 150;
  height: 61.5px;
  left: 0px;
  position: relative;
  top:2vh;
  margin-left: 3%;
}

.plug-div{
    height: 100px;
    text-align: center;
    margin-top: 180px;
    margin-bottom: 50px;
}

.percentage{
    position: absolute;
    width: 100%;
    color: #16a27f;
   font-family: 'Arvo',serif;
    font-size: 100px;
    text-align: center;
    text-shadow: 6px -3px #0F6C55;
    margin-top: 55px;
}

.explanation{
    font-family: "JetBrains Mono",monospace;
    font-size: 28px;
}


.link:active, :focus{
    outline : none;
    border: 0;
}

@media only screen 
and (max-width : 1222px) {
/* Styles */

.explanation{
    text-align: center;
}

.percentage{
    font-size: 70px;

    left: 0%;
    margin-top: 61px;
}

.github-logo{
    margin-left: 9%;
}



}