.input-field{
    min-width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    height: 48px;
    font-weight: 500;
    font-family: "JetBrains Mono",monospace;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 4px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}:focus{
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.input-div{
    
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.tiny-helper-title{
    text-align: center;
    font-weight: 500;
    font-family: "JetBrains Mono",monospace;
    font-size: 14px;
}

button{
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 100%;
    align-items: center;
    appearance: none;
    border-radius: 4px;
    border-width: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
}

.buttons{
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap:10px;
  justify-content: center;
  align-items: center; 
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.random-button{
    grid-row: 2 / 3;
  background-color: #8ecae6;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#6691a5 0 -3px 0 inset;
  color: #ffffff;
  font-size: 20px;
}

.random-button:focus {
  box-shadow: #6691a5 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #6691a5 0 -3px 0 inset;
}

.random-button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #6691a5 0 -3px 0 inset;
  transform: translateY(-2px);
}

.random-button:active {
  box-shadow: #6691a5 0 3px 7px inset;
  transform: translateY(2px);
}



.clear-button{
    grid-row: 2 / 3;
    background-color: #e76f51;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#aa523c 0 -3px 0 inset;
    color: #ffffff;
    font-size: 20px;
  }
  
  .clear-button:focus {
    box-shadow: #aa523c 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #aa523c 0 -3px 0 inset;
  }
  
  .clear-button:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #aa523c 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .clear-button:active {
    box-shadow: #aa523c 0 3px 7px inset;
    transform: translateY(2px);
  }

.generate-button{
    grid-row: 1 / 2;
  grid-column: 1 / 4;
  background-color: #FCFCFD;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  font-size: 18px;
}

.generate-button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.generate-button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.generate-button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}


@media only screen 
and (max-width : 1222px) {
/* Styles */

.generate-button{
    font-size: 14px;
  padding-left: 6%;
}

.buttons{
    gap:0px;
}


.random-button{
    font-size: 14px;
    width: 90%;
    padding-left: 13%;
}
.clear-button{
    font-size: 14px;
    width: 90%;
    padding-left: 20%;
}

}