.github-plug{
    color:#4078c0;
}

.github-logo{
    width: 150;
  height: 61.5px;
  left: 0px;
  position: relative;
  top:2vh;
  margin-left: 3%;
}

.plug-div{
    height: 100px;
    text-align: center;
    margin-top: 180px;
    margin-bottom: 50px;
}

.percentage{
    position: absolute;
    right: 41%;
    color: #16a27f;
   
    font-size: 100px;
    text-align: center;
}

.explanation{
    font-family: "JetBrains Mono",monospace;
    font-size: 28px;
}

.link:active, :focus{
    outline : none;
    border: 0;
}